*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(39, 39, 39), rgb(19, 79, 134));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    justify-content: center;
    align-items: center;
}

#photo{
    width: 140px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px black;
    transition: 500ms;
}

#photo:hover{
    width: 180px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px black;
}


#name{
    color: white;
    transition: 500ms;
}
#name:hover{
    color: white;
    font-size: 35px;
}

#mensagem{
    color: white;
    transition: 500ms;
}

#mensagem:hover{
    color: white;
    font-size: 20px;
}

.portifolio{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;

}

.portifolio a{
    margin-top: 10px;
}
.linha{
    border-radius: 20px;
    margin-left: 12px;
    margin-right: 12px;
    height: 350px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.432);
}
.projetos{
    display: flex; 
    justify-content: center;   
}

.colunas{
    margin-left: 12px;
    margin-right: 12px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.links:hover{
    width: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 20px black;
}


.links{
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 500ms;
}

#social{

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.social{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    transition: 500ms;
}
.social:hover{
    width: 60px;
    height: 60px;
    background: none;
    border: none;

}

#social a{
    padding: 10px;
}